* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica Neue, sans-serif;
}

.main-container {
  width: 100%;
}

.head {
  width: 100%;
  height: 90px;
}

.head > article {
  width: 90%;
  margin: 0 auto;
  height: 90px;
  display: flex;
  flex-direction: row !important;
}

.aside-demo {
  width: 33.33%;
}

.a1 {
  display: flex;
  align-items: center;
}

.a2 > ul {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 25px;
}

.a3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.fa-globe {
  border: 1px solid white;
  padding: 15px 17px;
}

.fa-globe:hover {
  border: 1px solid white;
  border-radius: 25px;
  background: rgb(245, 245, 245);
  cursor: pointer;
}

.display {
  border: 1px solid lightgrey;
  padding: 15px 20px;
  border-radius: 25px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.fa-user {
  font-size: 20px;
}

.display:hover {
  box-shadow: 0px 2px 4px lightgrey;
  cursor: pointer;
}

.sub-container1 {
  height: 110px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container1 > article {
  width: 62%;
  height: 65%;
  border-bottom: 1px solid lightgrey;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 30px;
  box-shadow: 3px 3px 10px lightgrey;
}

.sub-container1 > article > .display-container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.a11,
.a14 {
  flex-basis: 33.333%;
}

.a12,
.a13 {
  flex-basis: 16.666%;
}

.a11,
.a12,
.a13 {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.demo-a h3 {
  font-size: 13px;
}

.demo-a {
  font-size: 15px;
}

.a14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.a12,
.a13,
.a14 {
  padding-left: 15px;
}

.fa-magnifying-glass {
  background: #ff5a5f;
  padding: 15px;
  border-radius: 100%;
  color: white;
}
